<!-- Start tags -->

<div class="content">
    <p>
        <strong>Сайт: </strong><a id="resp_site" href="" target="_blank"></a> <br>
        <strong>Компания: </strong><span id="resp_name"></span>
    </p>
</div>
<div class="columns is-variable is-1-mobile is-2-tablet is-3-desktop is-mobile">
    <div class="column is-half">
        <div class="field is-grouped is-grouped-multiline group-tags-1">

            {{#each financialTagsLeft}}

            <div id="{{id}}_modal" class="modal">
                <div class="modal-background"></div>
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">{{fullname}}</p>
                        <button class="delete" aria-label="close"></button>
                    </header>
                    <section class="modal-card-body">
                        <p>
                            <strong>{{fullname}}</strong> – {{text}}
                        </p>
                    </section>
                </div>
            </div>

            <div class="control">
                <div class="tags has-addons">
                    <a class="tag is-dark modal-button" data-target="{{id}}_modal">{{name}}</a>
                    <span class="tag is-light" id="{{id}}"></span>
                </div>
            </div>
            {{/each}}

        </div>
    </div>

    <div class="column is-half">
        <div class="field is-grouped is-grouped-multiline group-tags-2">

            {{#each financialTagsRight}}
            
            <div id="{{id}}_modal" class="modal">
                <div class="modal-background"></div>
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">{{fullname}}</p>
                        <button class="delete" aria-label="close"></button>
                    </header>
                    <section class="modal-card-body">
                        <p>
                            <strong>{{fullname}}</strong> – {{text}}
                        </p>
                    </section>
                </div>
            </div>

            <div class="control">
                <div class="tags has-addons">
                    <a class="tag is-dark modal-button" data-target="{{id}}_modal">{{name}}</a>
                    <span class="tag" id="{{id}}"></span>
                </div>
            </div>
            {{/each}}

        </div>
    </div>

</div>

<div class="column is-full disclaimer">
    <p class="upd-message">
        Обновление данных раз в 20 минут.
        <a href="https://github.com/samgozman/short-fork/blob/main/doc/HOWTOUSE.md#источники-данных"
            target="_blank">Источники данных</a>.
        <br>
        Не является индивидуальной инвестиционной рекомендацией!
    </p>
    <p>
        <strong id="error-message"></strong>
    </p>
</div>

<!-- End tags -->