<!-- Start tags -->

<div class="content">
    <p>
        🇺🇸 - только NASDAQ, NYSE и AMEX биржи
    </p>
    <p>
        Кликни на индикатор для подсказки!
    </p>
    <p>
        <strong>Сайт: </strong><a id="resp_site" href="" target="_blank" rel="nofollow" rel="noreferrer"></a> <br>
        <strong>Компания: </strong><span id="resp_name"></span> <br>
        <strong>Ближайший отчёт: </strong><span id="next_report"></span> <br>
        <strong>Отчёты: </strong><span id="sec_filings">
            <a href="" target="_blank" rel="nofollow" rel="noreferrer" title="Годовой отчёт">10-K</a> /
            <a href="" target="_blank" rel="nofollow" rel="noreferrer" title="Квартальный отчёт">10-Q</a> /
            <a href="" target="_blank" rel="nofollow" rel="noreferrer"
                title="Незапланированные события, влияющие на стоимость акций">8-K</a>
        </span> <br>
        <strong>Проф. обзор: </strong><a id="equity_research" href="" title="equity research" target="_blank"
            rel="nofollow" rel="noreferrer">Research</a>
    </p>
</div>
<div class="columns is-variable is-1-mobile is-2-tablet is-3-desktop is-mobile">
    <div class="column is-half">
        <div class="field is-grouped is-grouped-multiline group-tags-1">

            {{#each financialTagsLeft}}

            <div id="{{id}}_modal" class="modal">
                <div class="modal-background"></div>
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">{{fullname}}</p>
                        <button class="delete" aria-label="close"></button>
                    </header>
                    <section class="modal-card-body">
                        <p class="has-text-justified">
                            <strong>{{fullname}}</strong> – {{text}}
                        </p>
                    </section>
                </div>
            </div>

            <div class="control">
                <div class="tags has-addons">
                    <a class="tag is-dark modal-button" data-target="{{id}}_modal">{{name}}</a>
                    <span class="tag" id="{{id}}"></span>
                </div>
            </div>

            {{/each}}

        </div>
    </div>

    <div class="column is-half">
        <div class="field is-grouped is-grouped-multiline group-tags-2">

            {{#each financialTagsRight}}

            <div id="{{id}}_modal" class="modal">
                <div class="modal-background"></div>
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">{{fullname}}</p>
                        <button class="delete" aria-label="close"></button>
                    </header>
                    <section class="modal-card-body">
                        <p class="has-text-justified">
                            <strong>{{fullname}}</strong> – {{text}}
                        </p>
                    </section>
                </div>
            </div>

            <div class="control">
                <div class="tags has-addons">
                    <a class="tag is-dark modal-button" data-target="{{id}}_modal">{{name}}</a>
                    <span class="tag" id="{{id}}"></span>
                </div>
            </div>

            {{/each}}

        </div>
    </div>

</div>

<div class="column is-full disclaimer">
    <p class="upd-message">
        Обновление данных Finviz раз в {{TTL_FINVIZ}} минут, Squeeze раз в {{TTL_SHORTSQUEEZE}} минут. <br>
        Не является индивидуальной инвестиционной рекомендацией!
        <br>
        <a href="https://github.com/samgozman/short-fork#источники-данных" target="_blank" rel="nofollow"
            rel="noreferrer">Источники данных</a>.
    </p>
</div>

<!-- End tags -->